<div class="container-fluid">
	<div class="row">
	<h3>Update </h3><br>
	<div class="col-lg-4">
<%= render 'form', menu_category: @menu_category %>

<%= link_to "Back To Dashboard", dashboard_index_path %>
&nbsp;&nbsp;<%= link_to "Show All Category", menu_categories_path %>
</div>
</div>
</div>