
<div class="container-fluid">
	<h3>Add Menu Item</h3><br>
	<div class="row">
	
	<div class="col-lg-4">

<%= render 'form', menu: @menu %>

<%= link_to "Back To Dashboard", dashboard_index_path ,class:'links' %>
&nbsp;&nbsp;<%= link_to "Show All Menu Item", menus_path ,class:'links'%>

</div>
</div>

</div>
