
<div class="row otSecDiv">
				
<div class="col-lg-12">
			<h4 class="topHeadSec">Make Payment</h4><br>
		</div>

		
<div class="col-lg-6">
	<div class="addLayout" style="padding-bottom: 35px;">
		<h5>Pay Online</h5><hr>
		<p>Go to Payment Getway</p>
		<% if @cart_data.size() == 0 %>
	<a href="index.php" class="payOnl1">Add items</a>
<% else %>
 <% if user_signed_in? %>
		<% if @address_count == 0 %>
		<a href="javascript:void(0);" class="btn btn-sm btn-danger">No Saved Address</a>
		<% else %>
		<%= link_to '<span class="order_pay_total">Pay Online</span>'.html_safe,payments_path,remote:true ,class:'payOnl'%>
		<% end %>
      <% else %>
		<a href="login_register.php" class="payOnl1">Login To Place Order</a>
      <% end %>
      <% end %>
	</div>
</div>

<div class="col-lg-6">

	<div class="addLayout">
		<h5>Pay on Delivery</h5><hr>
		<p>Please Keep Exact Change Handy to Help us Serve you better</p>
		<% if @cart_data.size() == 0 %>
	<a href="index.php" class="payOnl1">Add items</a>
<% else %>
 <% if user_signed_in? %>
		<!--<a href="javascript:void(0);" class="payOnl order_submit_btn_cod">Pay £ <span class="order_pay_total"></span></a>-->
		<% if @address_count == 0 %>
		<a href="javascript:void(0);" class="btn btn-sm btn-danger">No Saved Address</a>
		<% else %>
		<div><%= button_tag 'Cash On Delivery',type:'button',class:'payOnl' %></div>
		
		<% end %>
     <% else %>
		<a href="login_register.php" class="payOnl1">Login To Place Order</a>
      <% end %>
      <% end %>
	</div>

</div>

	
			
				
				</div>