 <div class="pages-hero" style="background-image:url(<%= asset_path 'backaboutimg.png' %>);">
           <div class="container">
            <div class="pages-title">
               
            </div>
        </div>  
    </div>
<style>
    h5
    {
        color:#777;
        
    }
</style>
<section class="section pt-5 pb-5 osahan-not-found-page">
<div class="container">
<div class="row">
<div class="col-md-12 text-center pt-5 pb-5">
<h1 class="mt-2 mb-2 text-success">Thank You !</h1>
<p class="mb-2">You have successfully placed your order</p>
<div class="md-4"></div>
<div class="md-4">
<h5><span style="color:#000;">Payment Id : </span></h5>
 <h5><span style="color:#000;">Order Id : </span></h5>
</div>
<div class="md-4"></div>
<a class="btn btn-primary btn-lg" href="order_list_page.php">View Order :)</a>
</div>
</div>
</div>
</section>

