.mainmSec{
	//background: #F1F3F4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
   // box-shadow: 0 10px 15px 0 rgb(3 35 68 / 10%); margin-bottom: 10px;
	
}
.mdSec h6{
	font-weight:500; margin-bottom:10px;
}

.mdSec p{
	margin-bottom:5px;
}

.pimgsec{
	float:left; margin-right:10px; width:15%;
}

.pimgsec img{
	width:100%; border-radius:8px;
}

.RemoveCart{
	float:right;
}

.RemoveCart a{
	
    color: #fff !important; text-decoration:none;
    padding: 4px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 10px;
    font-family: system-ui;
    font-size: 14px;
}

.mdSec{
	float:left; 
}

.mdSec_menu
{
float:left; 
}

.mainmSec{
	//background: #F1F3F4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    //box-shadow: 0 8px 8px 0 rgb(0 17 33 / 3%); margin-bottom: 10px;
	
}
.mdSec h6{
	font-weight:500; margin-bottom:10px;
}

.mdSec p{
	margin-bottom:5px;
}

.txtQty{
	border: 1px solid #ccc;
    border-radius: 0px;
    width: 50px;
    height: 26px;
    padding: 3px;
    margin-right: 5px;
}

.totalAmntSec{
		    float: right;	
margin-top: 15px;
    margin-bottom: 15px;			
}
.totalAmntSec h5{
	font-size:18px;
}
.cnShopSec{
	margin-bottom: 30px;
}
.cnShopSec ul {
	    margin: 0px;
    padding: 0px;
}
.cnShopSec ul li{
	list-style: none;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 50px;
    background: #333;
    
}
.cnShopSec ul li a{
	color: #fff;
    font-weight: 600;
    
}

